# 데이터 정제
## - 불필요한 삭제
## - 잘못된 행동 수정

In [27]:
import pandas as pd

df = pd.read_csv('./namsan.csv', encoding = 'euc kr', low_memory = False)

In [17]:
print(df.columns)
mask = df.columns != 'Unnamed: 13'
print(mask)
ns_df = df.loc[:, mask]    # 열을 실제로 삭제하는 것보다는 '숨기기'에 가까움.
ns_df.head(3)

Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '부가기호', '권',
       '주제분류번호', '도서권수', '대출건수', '등록일자', 'Unnamed: 13'],
      dtype='object')
[ True  True  True  True  True  True  True  True  True  True  True  True
  True False]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,감정을 이해하는 그림책 큐레이션,"그림책심리성장연구소,강혜진,김애이,김은경,박소영,장미혜,차연주 지음",사우,2025,9791194126027,NaN,0,NaN,181.7,1,0,2025-06-30
1,2,어른의 관계에는 마침표가 없다,김재식 지음,위즈덤하우스,2025,9791171714285,NaN,0,NaN,818,1,0,2025-06-30
2,3,아무리 놀려도 괜찮은 책(독서치료용),박티팔,곰세마리,2024,9791193366103,NaN,NaN,NaN,NaN,1,0,2025-06-30

In [ ]:
# 실제 Column 삭제하는 법
df.drop(['부가기호', 'Unnamed: 13'], axis = 1)

# 원본에서 삭제하기
df.drop(['부가기호', 'Unnamed: 13', '주제분류번호'], axis = 1, inplace = True)

In [29]:
# Col 중에 하나라도 NaN(비어있음)이면 해당 col 삭제
book_df = df.dropna(axis=1)
book_df.head(3)

# col의 모든 데이터가 NaNd이면 해당 col 삭제
book_df = df.dropna(axis=1, how='all')
book_df.head(3)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,감정을 이해하는 그림책 큐레이션,"그림책심리성장연구소,강혜진,김애이,김은경,박소영,장미혜,차연주 지음",사우,2025,9791194126027,NaN,0,NaN,181.7,1,0,2025-06-30
1,2,어른의 관계에는 마침표가 없다,김재식 지음,위즈덤하우스,2025,9791171714285,NaN,0,NaN,818,1,0,2025-06-30
2,3,아무리 놀려도 괜찮은 책(독서치료용),박티팔,곰세마리,2024,9791193366103,NaN,NaN,NaN,NaN,1,0,2025-06-30